@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */

/* Global */
* {
    font-family: cursive;
    /* font-family: 'Poppins', sans-serif; */
}



.zigzag {
    background: linear-gradient(-135deg, chartreuse 5px, transparent 0) 0 5px, linear-gradient(135deg, chartreuse 5px, #fff 0) 0 5px;
    background-color: chartreuse;
    background-position: left bottom;
    background-repeat: repeat-x;
    background-size: 10px 10px;
}